.posts {
  .search-box {
    position: relative;

    .has-search {
      width: 22%;

      .form-control {
        padding-left: 2.75rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-radius: 30px;
      }

      .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 75%;
      height: 1px;
      background-color: #ced4da;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .posts-container {
    .post {
      border-radius: 25px;
      box-shadow: 0 10px 25px 1px #dedede;

      .card {
        border: none;

        .card-img-box {
          position: relative;
          width: 40%;
          padding-bottom: 25%;
          border-radius: 10px;

          .card-img {
            width: 100%;
            height: 100%;
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }

        .card-body {
          width: 60%;
          padding: initial;
          padding-left: 1.5rem;

          .post-tags {
            .post-tag {
              margin-right: 0.5rem;
              padding: 0.375rem;
            }
          }
        }
      }

      //   POST COMMENTS
      .post-cmt {
        .post-cmt-btn {
          display: block;
          width: 100%;
          border-bottom: 1px solid #dedede;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
